[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
do-mpc = "*"
sympy = "*"
numpy = "*"
scipy = "*"
gitpython = "*"
casadi = "*"
acados-template = {path = "./acados/interfaces/acados_template"}

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.10"
